<% if params[:id].nil?  %>
  <div>

    <div id="contacts" class=" small-12 large-4 columns">
      <h4>My Contacts</h4>
      <a href="#" data-reveal-id="contact-modal" class="button tiny" data-reveal>New Contact</a>
      <ul>
        <% current_user.contacts.each do |contact| %>
          <% user = User.find(contact.entry_id) %>
          <li><%= link_to user.username(user), user_path(user) %> <a class="new-message" href="#" data-recipient-id="<%= user.id %>" data-reveal-id="message-modal" data-reveal><span class="glyphicon glyphicon-envelope"></span></a>
</li>
        <% end %>
      </ul>
    </div>

    <div id="feed" class="small-12 large-8 columns">
      <h4>My Feed</h4>
        <% current_user.messages.each do |message| %>
          <div class="feed-message panel">
            <p><%= message.text %></p>
            <% if message.picture.url != '/images/original/missing.png' %>
              <%= image_tag message.picture.url(:thumb), class: 'message-picture' %>
            <% end %>
            <span>Sent <%= time_ago_in_words(message.created_at) %> ago</span>
          </div>
        <% end %>
    </div>

  </div>

  <%= render 'layouts/contact' %>

<% else %>

  <% user = User.find(params[:id]) %>
  <% if user == current_user %>
    <%= link_to 'Edit Profile', root_path %>
    <div class="clear"></div>
  <% end %>

    <%= user.email %>

<% end %>


